#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DH_GOPKG := github.com/vmihailenco/msgpack
export GOPATH := /usr/share/gocode:${CURDIR}/_build
BLDPATH := $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_build:
	mkdir -p ${CURDIR}/_build/src/${DH_GOPKG}
	cp -a ${CURDIR}/*.go ${CURDIR}/_build/src/${DH_GOPKG}/
	go build -v

override_dh_auto_install:
	dh_auto_install -O--buildsystem=golang


override_dh_auto_clean:
	dh_clean
	rm -rf ${CURDIR}/_build
	rm -rf ${CURDIR}/obj-${BLDPATH}

# change enable firstly recursive dependency with golang-ugorji-codec-dev.
# and append it to Build-Depends.
#override_dh_auto_test:
